html {
  min-height: 100vh;
}

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,tr,table { 
	margin:0;
	padding:0;
}

body {
  font-size: 13px;
  line-height: 1.5em;
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  min-height: 100vh;
}

.clear {
  clear: both;
}

#container.sidebar {
  display: flex;
}

#page-container > table:first-child {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: inherit;
}

.sidebar #page-container {
  flex: 1;
  overflow: auto;
  height: 100vh;
  scrollbar-width: thin;
}

.sticky-header #page-container {
  overflow: auto;
  height: calc(100vh - 4em);
  scrollbar-width: thin;
}
#panel-container td.column {
  height: 100%;
  padding: 0 0 2em 0;
  vertical-align: top;
  border-right: 1px dashed;
}

#panel-container td.last {
  border-right: none;
}

#dd-placeholder {
  display: none;
}

#menu-container {
  border-bottom: 1px dashed;
}

.sidebar #menu-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px dashed;
}

.sticky-header #menu-container #page-menu,
.sticky-header #menu-container #page-menu #page-menu-list
{
transform:rotateX(180deg);
}

.sidebar #menu-container #page-menu,
.sidebar #menu-container #page-menu #page-menu-list
{
transform: scaleX(-1);
}

#page-menu-mobile {
  position: relative;
  overflow: hidden;
  line-height: 1.5em;
}

#page-menu {
  position: relative;
  overflow: auto;
  scrollbar-width: thin;
  line-height: 1.5em;
}
.sidebar #page-menu {
  flex-grow: 1;
  margin-top: 2em;
  padding: 0.75em;
  border-top: 1px dashed;
  height:calc(100vh - 4em);
}

.sticky-header #page-menu {
  margin: 0 2em 0 0em;
  padding: 0.25em 0;
}

#page-menu-mobile {
  border-bottom: 1px dashed;
}

#page-menu-list {
  list-style-type: none;
  line-height: 1.5em;
}

#page-menu-list li {
  white-space: nowrap;
}

.sticky-header #page-menu-list li {
  display: inline;
  border-right: 1px dashed;
}

.sidebar #page-menu-list li a, .sidebar #page-menu-list li a:link {
  padding: 0;
  line-height: 1.75em;
}

#page-menu-list li a, #page-menu-list li a:link {
  padding: 0 0.75em;
  display: inline;
  text-decoration: none;
  line-height: 1.5em;
}

#page-menu-list li:hover a {
  cursor: pointer;
  text-decoration: underline;
}

#page-menu-list li.active a {
  font-weight: 700;
  text-transform: uppercase;
}

#page-menu-mobile .active-page, #page-menu-mobile .action-menu-mobile {
  padding: 0.75em 0.75em;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.25em;
}

#page-menu-mobile .nav-container {
  border-top: 1px dashed;
  border-color: inherit;
  padding: 0.5em 0.5em;
}

#page-menu-mobile .nav-container div {
  padding: 0 0.25em;
  line-height: 2.5em;
  cursor: pointer;
}

#page-menu-mobile .menu {
  text-align: right;
}

#nav-drop-indicator-bar {
  background-color: #e6ac32; 
  position: absolute;
  display: none;
}

.sidebar #nav-drop-indicator-bar {
  width: 220px;
  height: 3px;
}

.sticky-header #nav-drop-indicator-bar {
  width: 3px;
  height: 1.5em;
}

#action-menu {
  width: 1.5em;
  height: 1.5em;
}

.sticky-header #action-menu {
  position: absolute;
  display: block;
  top: 0.25em;
  right: 0.5em;
  text-align: center;
  cursor: pointer;
}

.sidebar #action-menu {
  position: absolute;
  display: block;
  top: 0.25em;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  cursor: pointer;
}

#options-container {
  width: 300px;
  padding-top: 0.75em;
  vertical-align: top;
}

#options-container div.color-box {
  background-color: red;
  width: 1.5em;
  height: 1.5em;
  float: left;
  margin: 0 0.5em 0 0;
} 

#options-container div.group {
  border-bottom: 1px dashed;
  margin-bottom: 0.75em;
}

#options-container table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#options-container table td {
  padding: 0 0.75em 0.75em 0.75em;
}

#options-container div.last {
  text-align: center;
  padding-bottom: 0.75em;
}

a.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em 0.5em;
  font-weight: bolder;
}

a.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.widget {
  border-bottom: 1px dashed; 
  padding: 0.75em;
}

div.header {
  line-height: 1.5em;
}

div.header img.favicon {
  margin-bottom: -3px;
  margin-right: 0.5em;
  width: 16px;
  height: 16px;
}

div.header a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

div.header div.action {
  padding-left: 0.5em;
  padding-right: 2em;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
}

div.body {
  margin-top: 0.75em;
  overflow-x: hidden;
  width: 0;
  min-width: 100%;
}

div.body ul {
}

div.body ul > li:before {
  content: '\2022';
  display: inline-block;
  margin-left: -1em;
  width: 0.25em;
  margin-right: 0.75em;
}

div.body ul.date-groups > li:before {
  content: '\2605';
  margin-left: -1em;
  width: 0.5em;
  margin-right: 0.75em;
}

div.body ul.date-groups ul {
  margin-left: 1.25em;
}

div.body ul > li {
  list-style-type: none;
  line-height: 1.5em;
  margin-left: 1em;
}

div.body ol {
}

div.body ol > li {
  list-style-type: decimal;
  line-height: 1.5em;
  margin-left: 2.5em;
}

div.body a {
  color: inherit;
  text-decoration: none;
}

div.body a:hover {
  text-decoration: underline;
}

div.body a:visited {
}

div.body div.error {
  color: #9d0e15;
}

div.body div.loading {
  background-image: url('loading_16.png');
  padding-left: 20px;
  background-repeat: no-repeat;
}

div.body .available-feeds {
  text-align: center;
}

div.body .available-feeds select.feeds {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  max-width: 300px;
  width: 100%;
}

div.body .available-feeds p {
  line-height: 1.5em;
  text-align: left;
}

div.body .available-feeds div {
  text-align: right;
}

ul.menu-list {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 100;
  width: 150px;
  text-align: center;
  display: none;
  font-weight: normal;
  text-align: left;
  box-shadow: 2px 2px 1px #888888;
}

.sidebar ul.menu-list {
  transform: translate(50%, 0);
}

ul.menu-list a {
  display: block;
  text-decoration: none;
  padding: 0 0 0 1.5em;
  white-space: nowrap;
  font-weight: normal;
  line-height: 1.5em;
}

ul.menu-list a:hover {
}

div.feedConfig {
  padding-bottom: 0.75em;
  border-bottom: 1px dashed;
}

div.feedConfig div {
  padding-top: 0.5em;
}

div.feedConfig input {
  margin: 0 0.375em 0 0.375em;
}

div.feedConfig input[type="text"] {
  width: 4em;
}

#message {
  position: absolute; 
  text-align: center; 
  width: 100%;
  display: none;
}

#message .dialog {
  position: relative;
  display: inline-block;
  background-color: #9ab2c8;
  margin: 0 auto;
  padding: 0.75em 1.5em;
  z-index: 1000;
  max-width: 300px;
}

#message .dialog p {
  margin-bottom: 0.75em;
}

#message .dialog .button:hover {
  text-decoration: underline;
  cursor: pointer;
}
